[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/GeordieGuy/hugo-split-theme
[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/GeordieGuy/hugo-split-theme
